.btn-calculate {
    background-color: #f26522;
    border-color: #f26522;
    color: #ffffff;
  }
  
  .btn-calculate:hover {
    background-color: #d6581e;
    border-color: #d6581e;
    color: #ffffff;
  }
  
  .btn-calculate:focus {
    box-shadow: 0 0 0 0.25rem rgba(231, 91, 36, 0.5);
  }

  .badge {
    background-color: #f26522 !important;
    color: #ffffff !important;
  }
.badge {
  background-color: #f26522 !important;
  color: #ffffff !important;
}

.card-body small {
  color: #f26522;
  font-weight: bold;
  display: block;
  text-align: center;
}